on: 
  push:
    branches: [master]
name: paper formatting

jobs:
  immem:
    runs-on: ubuntu-latest
    name: IMMEM Draft
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          # This should be the path to the paper within your repo.
          paper-path: paper/immem.md
      - name: inspect directory
        run: |
          tree
          find . -type f -name '*immem*'
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: immem-abstract
          # This is the output path where Pandoc will write the compiled
          # PDF. Note, this should be the same directory as the input
          # paper.md
          path: paper/paper.pdf
  joss:
    runs-on: ubuntu-latest
    name: JOSS Draft
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          # This should be the path to the paper within your repo.
          paper-path: paper/paper.md
      - name: inspect directory
        run: |
          tree
          find . -type f -name '*paper*'
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: paper-abstract
          # This is the output path where Pandoc will write the compiled
          # PDF. Note, this should be the same directory as the input
          # paper.md
          path: paper/paper.pdf
